<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Home</h1>
</section>

<!-- Main content -->
<section class="content">
  <p>Welcome to EOPES</p>
</section>

<script>
    $(document).ready(function () {
        var userAgent = window.navigator.userAgent.toLowerCase();
        if (userAgent.indexOf('chrome') != -1 || userAgent.indexOf('msie') != -1) {
        } else {
            alert("このブラウザには対応していません。Chrome/IE で利用できます。");
        }
    });
</script>

