<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Welcome#index</h1>
</section>

<!-- Main content -->
<section class="content">
  <p>Find me in app/views/welcome/index.html.erb</p>
</section>
