<body class="bg-black">

<div class="form-box" id="login-box">
  <div class="header">Sign In</div>
  <form action="../../index.html" method="post">
    <div class="footer">
      <%=link_to image_tag("EVE_SSO_Login_Buttons_Large_Black.png"), user_omniauth_authorize_path(:eve_online) %>

      <br/>
      <br/>
      <button type="submit" class="btn bg-olive btn-block">Guest Login</button>
      <button type="submit" class="btn bg-olive btn-block">Read Manual</button>
    </div>
  </form>

  <div class="margin text-center">
    <span>EOPES - Eve Online Profit Estimate System</span>
    <br/>
  </div>
</div>
</body>
