<div class="row">
  <div class="box">
    <div class="box-body">
      <table id="lists" class="table table-bordered table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>Count</th>
          <th>price (isk)</th>
          <th>location</th>
          <th>expire at (day)</th>
        </tr>
        </thead>

        <tbody>
        <% if @markets.present? %>
            <% @markets.market_details.each do |market| %>
                <tr>
                  <td><%= market.volume %></td>
                  <td><%= number_to_currency(market.price,
                                             :precision => 2,
                                             :unit => "",
                                             :separator => ".",
                                             :format => "%n %u") %>
                  </td>
                  <td><%= market.get_station_name %></td>
                  <td><%= number_to_currency(market.get_expired_at,
                                             :precision => 2,
                                             :unit => "",
                                             :separator => ".",
                                             :format => "%n %u")%></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
