<h1>MarketExplorer#index</h1>
<p>Find me in app/views/market_explorer/index.html.erb</p>

<div id="jstree_categories">
  <ul>
    <li data-jstree='{"opened":true}'>Root node 1
      <ul>
        <li>Child node 1</li>
        <li>Child node 2</li>
      </ul>
    </li>
    <li>Root node 2
    </li>
  </ul>
</div>
