<section class="content">
  <h1>MarketExplorer#index</h1>

  <p>Find me in app/views/market_explorer/index.html.erb</p>

  <div class='col-md-4'>
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title">
          search : <h5><input id="jstree_categories_search" type="text"/></h5></h3>
      </div>
      &nbsp;&nbsp;&nbsp;
      (* 5 or more characters)
      <br/>
      <br/>

      <div class="scroll_menu">
        <div id="jstree_categories">
        </div>
      </div>

    </div>
  </div>

</section>